/* Reset margin, padding, and box-sizing for all elements */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media (max-width: 38em) {
    font-size: 50%;
  }
  @media (max-width: 30em) {
    font-size: 37.5%;
  }
}

body {
  font-size: 2.2rem;
  line-height: 1;
}

/* Improve image styling */
img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;

  /* ATTENTION */
  user-select: none;
  pointer-events: none;
}

/* Reset links */
a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  color: inherit; /* Use the parent element's color */
}

button {
  border: none;
  cursor: pointer;
}

// ul,
// ol {
//   list-style: none;
// }

/* Forms */
button,
input,
label,
optgroup,
select,
textarea {
  font-family: inherit; /* Use the parent's font family */
  font-size: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
